<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>character1_gun_run_0.png</key>
		<dict>
			<key>x</key>
			<real>472</real>
			<key>y</key>
			<real>26</real>
			<key>width</key>
			<real>28</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_gun_run_1.png</key>
		<dict>
			<key>x</key>
			<real>371</real>
			<key>y</key>
			<real>141</real>
			<key>width</key>
			<real>26</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_gun_run_2.png</key>
		<dict>
			<key>x</key>
			<real>472</real>
			<key>y</key>
			<real>1</real>
			<key>width</key>
			<real>28</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_run_0.png</key>
		<dict>
			<key>x</key>
			<real>245</real>
			<key>y</key>
			<real>375</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_run_1.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>434</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_run_2.png</key>
		<dict>
			<key>x</key>
			<real>177</real>
			<key>y</key>
			<real>375</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_run_back_0.png</key>
		<dict>
			<key>x</key>
			<real>27</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_run_back_1.png</key>
		<dict>
			<key>x</key>
			<real>160</real>
			<key>y</key>
			<real>375</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_run_back_2.png</key>
		<dict>
			<key>x</key>
			<real>317</real>
			<key>y</key>
			<real>263</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_run_front_0.png</key>
		<dict>
			<key>x</key>
			<real>52</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_run_front_1.png</key>
		<dict>
			<key>x</key>
			<real>103</real>
			<key>y</key>
			<real>383</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_run_front_2.png</key>
		<dict>
			<key>x</key>
			<real>86</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_walk_0.png</key>
		<dict>
			<key>x</key>
			<real>329</real>
			<key>y</key>
			<real>359</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_walk_1.png</key>
		<dict>
			<key>x</key>
			<real>177</real>
			<key>y</key>
			<real>400</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_walk_2.png</key>
		<dict>
			<key>x</key>
			<real>309</real>
			<key>y</key>
			<real>382</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_walk_back_0.png</key>
		<dict>
			<key>x</key>
			<real>35</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_walk_back_1.png</key>
		<dict>
			<key>x</key>
			<real>248</real>
			<key>y</key>
			<real>308</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_walk_back_2.png</key>
		<dict>
			<key>x</key>
			<real>323</real>
			<key>y</key>
			<real>332</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_walk_front_0.png</key>
		<dict>
			<key>x</key>
			<real>18</real>
			<key>y</key>
			<real>407</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_walk_front_1.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>407</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character1_walk_front_2.png</key>
		<dict>
			<key>x</key>
			<real>282</real>
			<key>y</key>
			<real>352</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_run_0.png</key>
		<dict>
			<key>x</key>
			<real>65</real>
			<key>y</key>
			<real>437</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_run_1.png</key>
		<dict>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>412</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_run_2.png</key>
		<dict>
			<key>x</key>
			<real>133</real>
			<key>y</key>
			<real>433</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_run_back_0.png</key>
		<dict>
			<key>x</key>
			<real>141</real>
			<key>y</key>
			<real>356</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_run_back_1.png</key>
		<dict>
			<key>x</key>
			<real>314</real>
			<key>y</key>
			<real>359</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_run_back_2.png</key>
		<dict>
			<key>x</key>
			<real>141</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_run_front_0.png</key>
		<dict>
			<key>x</key>
			<real>31</real>
			<key>y</key>
			<real>441</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_run_front_1.png</key>
		<dict>
			<key>x</key>
			<real>294</real>
			<key>y</key>
			<real>379</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_run_front_2.png</key>
		<dict>
			<key>x</key>
			<real>16</real>
			<key>y</key>
			<real>459</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_walk_0.png</key>
		<dict>
			<key>x</key>
			<real>46</real>
			<key>y</key>
			<real>441</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_walk_1.png</key>
		<dict>
			<key>x</key>
			<real>65</real>
			<key>y</key>
			<real>412</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_walk_2.png</key>
		<dict>
			<key>x</key>
			<real>80</real>
			<key>y</key>
			<real>437</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_walk_back_0.png</key>
		<dict>
			<key>x</key>
			<real>16</real>
			<key>y</key>
			<real>434</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_walk_back_1.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>461</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_walk_back_2.png</key>
		<dict>
			<key>x</key>
			<real>237</real>
			<key>y</key>
			<real>400</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_walk_front_0.png</key>
		<dict>
			<key>x</key>
			<real>148</real>
			<key>y</key>
			<real>408</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_walk_front_1.png</key>
		<dict>
			<key>x</key>
			<real>267</real>
			<key>y</key>
			<real>406</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character2_walk_front_2.png</key>
		<dict>
			<key>x</key>
			<real>207</real>
			<key>y</key>
			<real>400</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_run_0.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>362</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_run_1.png</key>
		<dict>
			<key>x</key>
			<real>279</real>
			<key>y</key>
			<real>379</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_run_2.png</key>
		<dict>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>410</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_run_back_0.png</key>
		<dict>
			<key>x</key>
			<real>296</real>
			<key>y</key>
			<real>263</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_run_back_1.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>380</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_run_back_2.png</key>
		<dict>
			<key>x</key>
			<real>374</real>
			<key>y</key>
			<real>168</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_run_front_0.png</key>
		<dict>
			<key>x</key>
			<real>122</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_run_front_1.png</key>
		<dict>
			<key>x</key>
			<real>103</real>
			<key>y</key>
			<real>358</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_run_front_2.png</key>
		<dict>
			<key>x</key>
			<real>122</real>
			<key>y</key>
			<real>358</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_walk_0.png</key>
		<dict>
			<key>x</key>
			<real>192</real>
			<key>y</key>
			<real>400</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_walk_1.png</key>
		<dict>
			<key>x</key>
			<real>35</real>
			<key>y</key>
			<real>414</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_walk_2.png</key>
		<dict>
			<key>x</key>
			<real>192</real>
			<key>y</key>
			<real>425</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_walk_back_0.png</key>
		<dict>
			<key>x</key>
			<real>65</real>
			<key>y</key>
			<real>360</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_walk_back_1.png</key>
		<dict>
			<key>x</key>
			<real>84</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_walk_back_2.png</key>
		<dict>
			<key>x</key>
			<real>65</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_walk_front_0.png</key>
		<dict>
			<key>x</key>
			<real>46</real>
			<key>y</key>
			<real>360</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_walk_front_1.png</key>
		<dict>
			<key>x</key>
			<real>103</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character3_walk_front_2.png</key>
		<dict>
			<key>x</key>
			<real>27</real>
			<key>y</key>
			<real>360</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_run_0.png</key>
		<dict>
			<key>x</key>
			<real>194</real>
			<key>y</key>
			<real>375</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_run_1.png</key>
		<dict>
			<key>x</key>
			<real>248</real>
			<key>y</key>
			<real>335</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_run_2.png</key>
		<dict>
			<key>x</key>
			<real>69</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_run_back_0.png</key>
		<dict>
			<key>x</key>
			<real>46</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_run_back_1.png</key>
		<dict>
			<key>x</key>
			<real>265</real>
			<key>y</key>
			<real>308</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_run_back_2.png</key>
		<dict>
			<key>x</key>
			<real>84</real>
			<key>y</key>
			<real>360</real>
			<key>width</key>
			<real>18</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_run_front_0.png</key>
		<dict>
			<key>x</key>
			<real>50</real>
			<key>y</key>
			<real>414</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_run_front_1.png</key>
		<dict>
			<key>x</key>
			<real>228</real>
			<key>y</key>
			<real>375</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_run_front_2.png</key>
		<dict>
			<key>x</key>
			<real>222</real>
			<key>y</key>
			<real>400</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_walk_0.png</key>
		<dict>
			<key>x</key>
			<real>137</real>
			<key>y</key>
			<real>383</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_walk_1.png</key>
		<dict>
			<key>x</key>
			<real>323</real>
			<key>y</key>
			<real>305</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_walk_2.png</key>
		<dict>
			<key>x</key>
			<real>120</real>
			<key>y</key>
			<real>383</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_walk_back_0.png</key>
		<dict>
			<key>x</key>
			<real>299</real>
			<key>y</key>
			<real>352</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_walk_back_1.png</key>
		<dict>
			<key>x</key>
			<real>265</real>
			<key>y</key>
			<real>335</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_walk_back_2.png</key>
		<dict>
			<key>x</key>
			<real>103</real>
			<key>y</key>
			<real>410</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_walk_front_0.png</key>
		<dict>
			<key>x</key>
			<real>133</real>
			<key>y</key>
			<real>408</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_walk_front_1.png</key>
		<dict>
			<key>x</key>
			<real>211</real>
			<key>y</key>
			<real>375</real>
			<key>width</key>
			<real>16</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>character4_walk_front_2.png</key>
		<dict>
			<key>x</key>
			<real>252</real>
			<key>y</key>
			<real>400</real>
			<key>width</key>
			<real>14</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>24</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>explosion_from_ground_0.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>174</real>
			<key>width</key>
			<real>172</real>
			<key>height</key>
			<real>158</real>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-49</real>
			<key>originalWidth</key>
			<real>256</real>
			<key>originalHeight</key>
			<real>256</real>
		</dict>
		
		<key>explosion_from_ground_1.png</key>
		<dict>
			<key>x</key>
			<real>174</real>
			<key>y</key>
			<real>174</real>
			<key>width</key>
			<real>166</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-84</real>
			<key>originalWidth</key>
			<real>256</real>
			<key>originalHeight</key>
			<real>256</real>
		</dict>
		
		<key>explosion_from_ground_2.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>1</real>
			<key>width</key>
			<real>224</real>
			<key>height</key>
			<real>172</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-42</real>
			<key>originalWidth</key>
			<real>256</real>
			<key>originalHeight</key>
			<real>256</real>
		</dict>
		
		<key>explosion_from_ground_3.png</key>
		<dict>
			<key>x</key>
			<real>351</real>
			<key>y</key>
			<real>1</real>
			<key>width</key>
			<real>120</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-15</real>
			<key>originalWidth</key>
			<real>256</real>
			<key>originalHeight</key>
			<real>256</real>
		</dict>
		
		<key>explosion_from_ground_4.png</key>
		<dict>
			<key>x</key>
			<real>398</real>
			<key>y</key>
			<real>141</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>72</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-16</real>
			<key>originalWidth</key>
			<real>256</real>
			<key>originalHeight</key>
			<real>256</real>
		</dict>
		
		<key>explosion_from_ground_5.png</key>
		<dict>
			<key>x</key>
			<real>245</real>
			<key>y</key>
			<real>263</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>44</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-30</real>
			<key>originalWidth</key>
			<real>256</real>
			<key>originalHeight</key>
			<real>256</real>
		</dict>
		
		<key>explosion_red_comic_0.png</key>
		<dict>
			<key>x</key>
			<real>174</real>
			<key>y</key>
			<real>330</real>
			<key>width</key>
			<real>46</real>
			<key>height</key>
			<real>44</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>13</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>explosion_red_comic_1.png</key>
		<dict>
			<key>x</key>
			<real>174</real>
			<key>y</key>
			<real>263</real>
			<key>width</key>
			<real>70</real>
			<key>height</key>
			<real>66</real>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>6</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>explosion_red_comic_2.png</key>
		<dict>
			<key>x</key>
			<real>341</real>
			<key>y</key>
			<real>216</real>
			<key>width</key>
			<real>92</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>6</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>explosion_red_comic_3.png</key>
		<dict>
			<key>x</key>
			<real>226</real>
			<key>y</key>
			<real>1</real>
			<key>width</key>
			<real>124</real>
			<key>height</key>
			<real>120</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>smoke_cloud.png</key>
		<dict>
			<key>x</key>
			<real>371</real>
			<key>y</key>
			<real>106</real>
			<key>width</key>
			<real>132</real>
			<key>height</key>
			<real>34</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>132</real>
			<key>originalHeight</key>
			<real>34</real>
		</dict>
		
		<key>soldier_gun_0.png</key>
		<dict>
			<key>x</key>
			<real>341</real>
			<key>y</key>
			<real>169</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>46</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>38</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
		<key>soldier_gun_1.png</key>
		<dict>
			<key>x</key>
			<real>226</real>
			<key>y</key>
			<real>122</real>
			<key>width</key>
			<real>48</real>
			<key>height</key>
			<real>48</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
		<key>soldier_run_0.png</key>
		<dict>
			<key>x</key>
			<real>296</real>
			<key>y</key>
			<real>305</real>
			<key>width</key>
			<real>26</real>
			<key>height</key>
			<real>46</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
		<key>soldier_run_1.png</key>
		<dict>
			<key>x</key>
			<real>336</real>
			<key>y</key>
			<real>122</real>
			<key>width</key>
			<real>34</real>
			<key>height</key>
			<real>46</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>38</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
		<key>soldier_run_2.png</key>
		<dict>
			<key>x</key>
			<real>221</real>
			<key>y</key>
			<real>330</real>
			<key>width</key>
			<real>26</real>
			<key>height</key>
			<real>44</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>30</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
		<key>soldier_run_3.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>333</real>
			<key>width</key>
			<real>25</real>
			<key>height</key>
			<real>46</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>29</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
		<key>soldier_run_4.png</key>
		<dict>
			<key>x</key>
			<real>275</real>
			<key>y</key>
			<real>122</real>
			<key>width</key>
			<real>34</real>
			<key>height</key>
			<real>48</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<real>36</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
		<key>soldier_run_5.png</key>
		<dict>
			<key>x</key>
			<real>310</real>
			<key>y</key>
			<real>122</real>
			<key>width</key>
			<real>25</real>
			<key>height</key>
			<real>48</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<real>29</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
		<key>soldier_run_6.png</key>
		<dict>
			<key>x</key>
			<real>472</real>
			<key>y</key>
			<real>51</real>
			<key>width</key>
			<real>27</real>
			<key>height</key>
			<real>46</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>31</real>
			<key>originalHeight</key>
			<real>50</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>