<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animWalking</key>
	<dict>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string></string>
		<key>filePrefix</key>
		<string>enemy_</string>
	</dict>
	<key>animDying</key>
	<dict>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string></string>
		<key>filePrefix</key>
		<string>enemy_</string>
	</dict>
</dict>
</plist>
