<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bee0.png</key>
		<dict>
			<key>x</key>
			<real>286</real>
			<key>y</key>
			<real>192</real>
			<key>width</key>
			<real>141</real>
			<key>height</key>
			<real>190</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>141</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
		<key>bee1.png</key>
		<dict>
			<key>x</key>
			<real>286</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>141</real>
			<key>height</key>
			<real>190</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>141</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
		<key>bee2.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>141</real>
			<key>height</key>
			<real>190</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>141</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
		<key>bee3.png</key>
		<dict>
			<key>x</key>
			<real>143</real>
			<key>y</key>
			<real>192</real>
			<key>width</key>
			<real>141</real>
			<key>height</key>
			<real>190</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>141</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
		<key>bee4.png</key>
		<dict>
			<key>x</key>
			<real>143</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>141</real>
			<key>height</key>
			<real>190</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>141</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
		<key>bee5.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>192</real>
			<key>width</key>
			<real>141</real>
			<key>height</key>
			<real>190</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>141</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
		<key>bee6.png</key>
		<dict>
			<key>x</key>
			<real>429</real>
			<key>y</key>
			<real>192</real>
			<key>width</key>
			<real>139</real>
			<key>height</key>
			<real>190</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>141</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
		<key>bee7.png</key>
		<dict>
			<key>x</key>
			<real>429</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>139</real>
			<key>height</key>
			<real>190</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>141</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>